[Unit]
Description=YaCy search server
After=network.target

[Service]
Type=forking
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/startYACY.sh --startup __DATA_DIR__/
ExecStop=__INSTALL_DIR__/stopYACY.sh

[Install]
WantedBy=multi-user.target
